/* your styles go here */

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

.page {display:none;}


.preload {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  top: 00%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.preload img {
  display: block;
  margin: 0 auto;
}

